{% extends 'base.html' %}
{% block title %}Posts{% endblock %}
{% block menu %}
    <li class="nav_item"><a href="{% url 'webapp:post_create' %}" class="nav-link">Добавить статью</a></li>
    <li class="nav_item"><a href="{% url 'webapp:user_list' %}" class="nav-link">Список пользователей</a></li>
    {% if request.user.is_authenticated %}
        <li class="nav_item"><a href="{% url 'webapp:user_detail' request.user.user_inf.pk %}" class="nav-link">Личный кабинет</a></li>
    {% endif %}
{% endblock %}

{% block content %}
    {% for post in post_list %}
        <div class="list-group mt-2">
            <a href="{% url 'webapp:post_detail' post.pk %}" class="list-group-item list-group-item-action">{{ post.title }} {{ post.author }} {{ post.date }}</a>
        </div>
    {% endfor %}
{% endblock %}