{% extends 'base.html' %}
{% block title %}Статьи{% endblock %}
{% block menu %}
    <li class="nav_item"><a href="{% url 'webapp:post_create' %}" class="nav-link">Добавить статью</a></li>
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            {{ post.title }}
        </div>
        <div class="card-body">
            <p>{{ post.text }}</p>
            <footer class="blockquote-footer">{{ post.date }}</footer>
            {% if post.author == request.user %}
                <a href="{% url 'webapp:post_update' post.pk %}" class="card-link">Редактировать</a>

                <!-- Trigger -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Удалить
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Вы уверены что хотите удалить статью {{ post.title }}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <a href="{% url 'webapp:post_delete' post.pk %}" class="card-link">Удалить</a>
                      </div>
                    </div>
                  </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}