{% extends 'base.html' %}
{% block title %}Пользователи{% endblock %}
{% block menu %}
    <li class="nav_item"><a href="{% url 'webapp:post_create' %}" class="nav-link">Добавить статью</a></li>
{% endblock %}
{% block content %}
    <div class="card d-block m-auto" style="width: 18rem;">
        <img class="card-img-top" src="{{ userinfo.avatar.url }}" alt="avatar">
        <div class="card-body">
            <h5 class="card-title text-center">{{ userinfo.user.username }}</h5>
            <p class="card-text">Email: {{ userinfo.user.email }}</p>
            <p class="card-text" id="phone"> Phone: <input id="item-btn" type="button" value="Show phone"></p>
        </div>
        <ul class="list-group list-group-flush">
            <p class="card-text text-center" >List of Friends: </p>
            {% for usr_friends in userinfo.friends.all %}
                <li class="list-group-item">{{ usr_friends }}</li>
            {% endfor %}
        </ul>
        <ul class="list-group list-group-flush">
            <p class="card-text text-center mt-2">Posts: </p>
            {% for usr_articles in userinfo.user.author.all %}
                <p class="card-text text-center">{{ usr_articles.title }}</p>
            {% endfor %}
        </ul>
        {% if userinfo.user == request.user %}
        <div class="card-body">
            <p class="text-center"><a href="{% url 'webapp:user_update' userinfo.pk %}" class="card-link">Редактировать данные</a></p>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let phone = document.getElementById('item-btn');
        let element = document.getElementById("phone");
        phone.onclick = function() {
            element.innerText = "Phone: {{ userinfo.phone }}";
        }
    </script>
{% endblock %}